
#cuerpo {
    width: 564px;
    height: 564px;
    border: 1px solid black;
}

.fila {
    width: 100%;
    height: 140px;
    border-bottom: 1px solid black;
}

.celda {
    float: left;
    width: 140px;
    height: 100%;
    border-left: 1px black solid;
}

#uno {
    background-color: pink;
}
#uno:hover{
    background-color: red;
}

#filaGde {
    width: 100%;
    height: 282px;
    border-bottom: 1px black solid;
}

.columnaCh {
    float: left;
    height: 100%;
    width: 140px;
    background-color: darkturquoise;
}

#celdaGde {
    float: left;
    height: 100%;
    width: 280px;
}

.celda2 {
    width: 140px;
    height: 50%;
    border: 1px black solid;
}

#cinco {
    background-color: yellow;
}
#cinco:hover{
    background-color: green;
}
