/* ESTO ES UN COMENTARIO EN CSS */

/* Estilos Generales Útiles:
Declarar los siguientes estilos es recomendable ya que son de uso común: 
--> body (El documento en general)
--> a (y sus variantes, para definir cómo se ven los hipervínculos)
*/

body {
}

a {
}

a:hover {
}

a:active {
}

a:visited {
}


/*EJEMPLOS DE DECLARACIÓN*/
/* 	Ejemplo de Declaración de Clase */
.nombreDeClase {
}

/* Ejemplo de Declaración de Objeto */
#nombreDeObjeto {
}

/* Ejemplo de Declaración de Etiqueta */
nombreDeEtiqueta {
}